.modal-content {
    border-radius: 15px;
}

.modal-body {
    padding: 15px;
}

.action-item {
    cursor: pointer;
    transition: background-color 0.2s;
    
    i {
        margin-right: 10px;
        color: #007bff;  // Matching Bootstrap's primary color
    }

    &:hover {
        background-color: #f5f5f5;  // Light gray on hover
    }
}


.star i.fas.fa-star {
    color: gold !important;
}



// Default star (unfilled)
i.far.fa-star {

    margin-right: 5px; // Adjust the margin as per your design
    color: #aaa;  // Default color for outlined stars
    transition: color 0.2s; // Smooth transition for color changes
}

// Filled star
i.fas.fa-star.filled {

    color: gold; 
    // Amazon gold color for filled stars
}

