.modal-content {
    border-radius: 15px;
}

.modal-body {
    padding: 15px;
}

.action-item {
    cursor: pointer;
    transition: background-color 0.2s;
    
    i {
        margin-right: 10px;
        color: #007bff;  // Matching Bootstrap's primary color
    }

    &:hover {
        background-color: #f5f5f5;  // Light gray on hover
    }
}


.star i.fas.fa-star {
    color: gold !important;
}



// Default star (unfilled)
i.far.fa-star {

    margin-right: 5px; // Adjust the margin as per your design
    color: #aaa;  // Default color for outlined stars
    transition: color 0.2s; // Smooth transition for color changes
}

// Filled star
i.fas.fa-star.filled {

    color: gold; 
    // Amazon gold color for filled stars
}

.card {
    position: relative;
}

.rating-container {
    position: absolute;
    margin-top: 2xp;
    bottom: 0; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  /* Horizontally center-align the children */
    align-items: center;      /* Vertically center-align the children */
    box-sizing: border-box;  
    background-color: gray; /* To ensure padding and border are included in the total width */
    z-index: 1000;

    &:hover{
        cursor: pointer;
        background-color: black;

    }
}



#seeReview {

    .modal-content {
        border-radius: 10px;
        overflow: hidden; // This ensures that the border-radius is applied to the children as well
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        background: linear-gradient(120deg, #f2f3f5, #ffffff);
        
        .modal-header {
            background: linear-gradient(120deg, #dde1e7, #f2f3f5);
            border-bottom: none;
            
            .modal-title {
                font-family: 'Arial', sans-serif;
                font-weight: 500;
                color: #333;
            }

            .btn-close {
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 50%;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .modal-body {
            padding: 25px;

            .rating-section {
                .star {
                    i {
                       
                        font-size: 1rem;
                        transition: color 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            color: #ffb300;
                        }
                    }
                }
            }

            .review-message {
                font-family: 'Arial', sans-serif;
                font-size: 1rem;
                color:#f2f2f2;
                margin-top: 20px;
            }
        }

        .modal-footer {
            border-top: none;
            background: linear-gradient(120deg, #f2f3f5, #dde1e7);

            .btn {
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                border-radius: 8px;

                &.btn-primary {
                    background-color: #007BFF;
                    border: none;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: #0056b3;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    .review-wrapper{
        border: #333;
        border-width: 20px;
        background-color: #555;
    }
      
}








