/* Styles for centering the form */
html, body {

    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

  
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input.form-control[type="tel"]:focus,
  select:focus,
  textarea:focus { /* Added textarea */
      outline: none !important;
      border-color: none;
      box-shadow: none !important;
      font-weight: bold;
      opacity: 80%;
  }
  
  
  .btn-primary{
    background-color: #007BFF; /* Changed to blue */
    color: #FFFFFF; /* Changed to white */

    &:hover{
        background-color: #0056b3; /* Darker shade of blue on hover */
        color: white;
    }
}

h3.text-center {
    color: blue; /* Changed text color to white */
    text-shadow: 1px 1px 0 #999,
                 -1px -1px 0 #999, 
                 1px -1px 0 #999,
                 -1px 1px 0 #999,
                 2px 2px 3px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    font-weight: bold;
 /* Background color changed to blue */
    padding: 10px; /* Padding around text for better visibility */
}

h6.text-center {
    color: blue; /* Changed text color to white */
    text-shadow: 1px 1px 0 #999,
                 -1px -1px 0 #999, 
                 1px -1px 0 #999,
                 -1px 1px 0 #999,
                 2px 2px 3px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    font-weight: bold;
 /* Background color changed to blue */
    padding: 10px; /* Padding around text for better visibility */
}









#wrapper8{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  max-height: 18rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(236, 232, 232);
  background-color: #f2f2f2;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.35);
  margin-left:auto ;
  margin-right:auto ;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  h2 {
      color: #843971;
    }

    a {
      color: #f2f2f2;
      text-decoration: none;
    }

    a i {
      color: #f2f2f2;
      margin-right: 0.3rem;
    }
  
    
}
@keyframes colorChange {
  0% {
      color: #ff0000;
      font-size: 2em;
  }
  25% {
      color: #00ff00;
      font-size: 2.2em;
  }
  50% {
      color: #0000ff;
      font-size: 1.4em;
  }
  75% {
      color: #ff00ff;
      font-size: 1.2em;
  }
  100% {
      color: #ff0000;
      font-size: 2em;
  }
}

#congrats {
  animation: colorChange 2s infinite;
}


#table-wrapper {
  background-color: red;
  position: relative;
  min-height: 37rem;
  max-height: 37rem;
  min-width: 27rem;
  max-width: 27rem;
  background-color: white;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.35);
  

  .row{

  
    background-color: white;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.35);
    overflow: auto;
  }

  

}

#wrapper10 {
  position: relative;
max-width: 30rem;
padding: .5rem 1.5rem;
margin-bottom: 0;
margin-top: 0;


  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.35);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
    .input-group {
      margin: 0.5rem 0;
    }
    

    
    
    #btsubmit {
      width: 100%;
      margin-bottom: 2rem;
   
    font-weight: bold;
    }
  }

  .column-small {
    width: 5rem ;
}

/* Add a border to the entire table */


/* Class for the first two columns to set their width */
.column-small {
    width: 2rem;
}

#shelfnumberwrapper {
  transition: transform 0.3s ease-in-out;

  &:hover {
      transform: scale(1.5); // Zoom in by scaling the element to 120% of its original size
      cursor: pointer;
  }
}

#material_imageview{
position: absolute;
top: -2rem;
right: 1rem;
width: 6rem;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
  
  &:hover {
    transform: scale(1.2); // Scales the element to 120% of its original size
    z-index: 20;
  }
}

#edit_imageview{
  border-radius: 50%;
position: absolute;
  top: -2rem;
  right: 1rem;
  width: 5rem;
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: scale(1.2); // Scales the element to 120% of its original size
    z-index: 20;
  }
}
#descword {
  background-color: rgb(59, 48, 90);
  color: #f2f2f2;
  min-height: 5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;

}

#edit-label{

}





.go-back {
  display: inline-block;
  transform: scale(1);
  transition: transform 0.3s;
  position: absolute;
  top: -1rem;
  left: 2rem;
  animation: slideLeft 3s linear infinite;
}

@keyframes slideLeft {
  0% {
    left: 2rem;
    visibility: visible;
  }

  90% {
    left: -0rem; // adjust this as necessary
    visibility: visible;
  }

  100% {
    left: 2rem;
    visibility: hidden;
  }
}